#sideHeader {
    width: 13in;
    height: 41.2in;
    background-color: #e8842c;
    margin-top: 0.1in;
    margin-bottom: 0.1in;
    margin-left: 0.1in;
    position: absolute;
    top: 0;
}

#headerBreak {
    height: 0.1in;
    width: 12in;
    background-color: black;
    left: 0.5in;
}

#approachHeader {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    height: 1in;
    width: 13.15in;
    padding-bottom: 0.2in;
    background-color: #c83c3c;
    color: white;
    margin-top: 0.1in;
    position: absolute;
    top: 0in;
    left: 14in;
}

#approachBox {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    font-size: 90px;
    font-weight: 700;
    height: 15in;
    width: 13in;
    border-color: #c83c3c;
    border-style: solid;
    border-width: 0.1in;
    margin-top: 0.1in;
    position: absolute;
    top: 0in;
    left: 14in;
}

#alphaDiversityHeader {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    height: 1in;
    width: 13.15in;
    padding-bottom: 0.2in;
    color: white;
    background-color: #9874b4;
    margin-top: 0.1in;
    position: absolute;
    top: 0in;
    left: 28in;
}

#alphaDiversityBox {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    font-size: 90px;
    font-weight: 700;
    height: 15in;
    width: 13in;
    border-color: #9874b4;
    border-style: solid;
    border-width: 0.1in;
    margin-top: 0.1in;
    position: absolute;
    top: 0in;
    left: 28in;
}

#betaDiversityHeader {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    height: 1in;
    width: 27.15in;
    padding-bottom: 0.2in;
    background-color: #48943c;
    color: white;
    margin-top: 0.1in;
    position: absolute;
    top: 16in;
    left: 14in;
}

#betaDiversityBox {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    font-size: 90px;
    font-weight: 700;
    height: 15in;
    width: 27in;
    border-color: #48943c;
    border-style: solid;
    border-width: 0.1in;
    margin-top: 0.1in;
    position: absolute;
    top: 16in;
    left: 14in;
}

#discussionHeader {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    height: 1in;
    width: 13.15in;
    padding-bottom: 0.2in;
    background-color: #287cb4;
    color: white;
    margin-top: 0.1in;
    position: absolute;
    top: 32in;
    left: 14in;
}

#discussionBox {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    font-size: 90px;
    font-weight: 700;
    height: 9in;
    width: 13in;
    background-color: white;
    border-color: #287cb4;
    border-style: solid;
    border-width: 0.1in;
    margin-top: 0.1in;
    position: absolute;
    top: 32in;
    left: 14in;
}

#futureDirectionsHeader {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    height: 1in;
    width: 13.15in;
    padding-bottom: 0.2in;
    background-color: #c83c3c;
    color: white;
    margin-top: 0.1in;
    position: absolute;
    top: 32in;
    left: 28in; 
}

#futureDirectionsBox {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    font-size: 90px;
    font-weight: 700;
    height: 4in;
    width: 13in;
    border-color: #c83c3c;
    border-style: solid;
    border-width: 0.1in;
    margin-top: 0.1in;
    position: absolute;
    top: 32in;
    left: 28in;
}

#referencesHeader {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-size: 90px;
    font-weight: 700;
    height: 1in;
    width: 13.15in;
    padding-bottom: 0.2in;
    background-color: #9874b4;
    color: white;
    margin-top: 0.1in;
    position: absolute;
    top: 37in;
    left: 28in;
}

#referencesBox {
    font-family: "Times New Roman", Times, serif;
    text-align: left;
    font-size: 90px;
    font-weight: 700;
    height: 4in;
    width: 13in;
    border-color: #9874b4;
    border-style: solid;
    border-width: 0.1in;
    margin-top: 0.1in;
    position: absolute;
    top: 37in;
    left: 28in;
}

.p1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 180px;
    font-weight: 900;
    text-align: left;
    margin-top: 0;
    padding-top: 0.5in;
    padding-left: 0.5in;
    padding-right: 0.5in;
}

.p2 {
    font-family: "Times New Roman", Times, serif;
    font-size: 90px;
    font-weight: 700;
    text-align: left;
    position: absolute;
    top: 4.25in;
    padding-left: 0.5in;
    padding-right: 0.5in;
}

.p3 {
    font-family: "Times New Roman", Times, serif;
    font-size: 65px;
    font-weight: 500;
    text-align: left;
    position: absolute;
    top: 9.7in;
    padding-left: 0.5in;
    padding-right: 0.5in;
}

.p4 {
    font-family: "Times New Roman", Times, serif;
    font-size: 55px;
    font-weight: 500;
    text-align: left;
    position: absolute;
    top: 12.1in;
    padding-left: 0.5in;
    padding-right: 0.5in;
}

#boxMainText {
    font-family: "Times New Roman", Times, serif;
    font-size: 65px;
    font-weight: 800;
    text-align: left;
    padding-left: 0.5in;
    padding-right: 0.5in;
}

#headerHeaderFont {
    font-family: "Times New Roman", Times, serif;
    font-size: 90px;
    font-weight: 700;
    text-align: left;
    padding-left: 0.5in;
    padding-right: 0.5in;
}

#mainText {
    font-family: "Times New Roman", Times, serif;
    font-size: 55px;
    font-weight: 500;
    text-align: left;
    padding-left: 0.5in;
    padding-right: 0.5in;
}

#captionText {
    font-family: "Times New Roman", Times, serif;
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    padding-left: 0.5in;
    padding-right: 0.5in;
}

#referencesText {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
    padding-left: 0.5in;
    padding-right: 0.5in; 
}

#subPhylogenyBlankerBox {
    height: 5.6in;
    width: 2in;
    background-color: white;
    position: absolute;
    top: 4.5in;
    left: 0.49in;
}

#subPhylogenyBlankerBox2 {
    height: 5.2in;
    width: 2in;
    background-color: white;
    position: absolute;
    top: 4.6in;
    left: 0.68in; 
}

#subPhylogenyBlankerBox3 {
    height: 2in;
    width: 1in;
    background-color: white;
    position: absolute;
    top: 4.4in;
    left: 1.9in;
}

#cactusBase {
    height: 15in;
    width: 4in;
    background-color: #48943c;
    position: absolute;
    bottom: 0.2in;
    left: 10.2in;
    border-radius: 200px 200px 0px 0px;
}

#cactusRightArmLower {
    height: 2.5in;
    width: 7in;
    background-color: #48943c;
    position: absolute;
    bottom: 5in;
    left: 10.2in;
    border-radius: 200px 200px 200px 200px;
}

#cactusRightArmUpper {
    height: 5.5in;
    width: 2in;
    background-color: #48943c;
    position: absolute;
    bottom: 5in;
    left: 15.2in;
    border-radius: 200px 200px 200px 200px;
}

#cactusLeftArmLower {
    height: 2.5in;
    width: 5in;
    background-color: #48943c;
    position: absolute;
    bottom: 7in;
    left: 7.2in;
    border-radius: 200px 200px 200px 200px;
}

#cactusLeftArmUpper {
    height: 5.5in;
    width: 2in;
    background-color: #48943c;
    position: absolute;
    bottom: 7in;
    left: 7.2in;
    border-radius: 200px 200px 200px 200px; 
}

#drosophilaPhylogeny {
    width: 7.5in;
    height: 9.23in;
    position: absolute;
    left: 0.1in;
    top: 4.25in;
}

#organPipeCactus {
    width: 2in;
    height: 2in;
    position: absolute;
    left: 10.5in;
    top: 4.25in;
}

#saguaroCactus {
    width: 2in;
    height: 2.67in;
    position: absolute;
    left: 10.5in;
    top: 10in;
}

#taxabarplot {
    width: 12in;
    height: 4.79in;
    position: absolute;
    left: 0.1in;
    top: 3.1in;
}

#alphaDiversityPlots {
    width: 12in;
    height: 4.82in;
    position: absolute;
    left: 0.1in;
    top: 9in;
}

#unweightedUnifracPlot {
    width: 8in;
    height: 5.28in;
    position: absolute;
    left: 0.1in;
    top: 3in;  
}

#weightedUnifracPCA {
    width: 8in;
    height: 5.26in;
    position: absolute;
    left: 5.7in;
    top: 3in;   
}

#aitchisonPCA {
    width: 8in;
    height: 5.27in;
    position: absolute;
    left: 11.3in;
    top: 3in; 
}

#weightedUnifracHeatmap {
    width: 6in;
    height: 5.91in;
    position: absolute;
    left: 20.5in;
    top: 2.6in;    
}
